.conteudo h2{
    margin-top: var(--size-space-one);
    margin-bottom: var(--size-space-one);
}

.conteudo h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

.conteudo p{
    margin-bottom: var(--size-space-one);
}

.conteudo ol,
ul{
    margin: 0;
}

.conteudo a{
    color: var(--link-color);
}

.conteudo a:hover{
    color: var(--link-color-hover);
}