/*elements*/
#topic{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding-top: var(--size-space-one);
    padding-bottom: var(--size-space-one);
}

/*config*/
.conteudo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.conteudo ul li {
    padding-top: var(--size-space-one);
    padding-bottom: var(--size-space-one);
}

.conteudo .topic-nvl1{
    border: 1px solid var(--border-color-primary);
    background-color: var(--background-color-primary);
    margin-bottom: var(--size-space-one);
    width: 100%;
}

.conteudo .camp-nvl2{
    display: none;
    margin-top: var(--size-space-one);
    margin-left: 5%;
    width: 90%;
}

.conteudo .topic-nvl2{
    display: block;
    width: 100%;
    margin-bottom: var(--size-space-one);
}

.conteudo .topic-nvl1:hover .camp-nvl2{
    display: block;
}

.conteudo .camp-nvl1 .camp-nvl2 .topic-nvl2{
    border: 1px solid var(--border-color-primary);
}

.conteudo .camp-nvl1 .camp-nvl2 .camp-nvl3{
    display: none;
    margin-left: 5%;
    margin-top: var(--size-space-one);
    width: 90%;
}

.conteudo .camp-nvl1 .camp-nvl2 .topic-nvl2:hover .camp-nvl3{
    display: block;
}

.conteudo .camp-nvl1 .camp-nvl2 .camp-nvl3 .topic-nvl3{
    border: 1px solid var(--border-color-primary);
    width: 100%;
}

.conteudo .camp-nvl1 .camp-nvl2 .camp-nvl3 .topic-nvl3:hover{
    background-color: var(--background-color-hover-secundary);
}