.topico{
    position: relative;
}

.topico:hover{
    background-color: var(--background-color-primary);
}

.topico .sub-topicos-nvl1{
    background-color: var(--background-color-primary);
    border: 1px solid var(--border-color-primary);
    display: none;
    margin-top: var(--size-space-one);
    margin-left: var(--size-space-one);
    width: 90%;
}

.topico:hover .sub-topicos-nvl1{
    display: block;
}

.topico .sub-topicos-nvl1 .topico{
    margin: 0;
}

.topico .sub-topicos-nvl1 .topico:hover{
    background-color: var(--background-color-hover-secundary);
    border: none;
}