body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-size-primary);
    margin: 0;
    padding: 0;
    text-align: justify;
}

/*campo inicial*/
.principal{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: var(--size-space-one);
    z-index: 2;
}

.principal .campo-inicial{
    display: flex;
    height: 70px;
}

/********** logo **********/
.campo-inicial img{
    margin-bottom: var(--size-space-one);
    width: 250px;
}

/********** MENU **********/
/*elements*/
.btnMenu{
    border: none;
    background-color: var(--background-color-secundary);
    color: var(--text-color-secundary);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    width: 140px;
    height: 40px;
}

.btnMenu:hover{
    background-color: var(--background-color-hover-primary);
}

/*config*/
.menu{
    background-color: var(--background-color-secundary);
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    display: inline;
    position: relative;
}

.menu ul li button{
    display: inline-block;
}

.menu ul ul{
    display: none;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
    left: 0;
}

/********** CONTEUDO **********/
.conteudo{
    margin-top: var(--size-space-three);
    margin-left: var(--size-space-three);
    margin-bottom: var(--size-space-two);
    width: 60%;
}