body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-size-primary);
    margin: 0;
    padding: 0;
    text-align: justify;
}

/*campo inicial*/
.principal{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: var(--size-space-one);
}

.principal .campo-inicial{
    display: flex;
    height: 70px;
}

.campo-inicial img{
    width: 250px;
}

/*********** MENU **********/
.menu ul{
    background-color: var(--background-color-secundary);
    width:98vw;
}

.menu ul{
    list-style: none;
    padding: 0;
}

.menu ul li{
    position: relative;
    display: inline;
}

.menu ul li a{
    display: inline-block;
    color: var(--text-color-secundary);
    padding: var(--size-space-one);
}

.menu ul li a{
    text-decoration: none;
    text-align: center;
    width: 160px;
}

.menu ul li a:hover{
    background-color: var(--background-color-hover-primary);
}

/*submenus*/
.menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    width: 160px;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul li a{
    display: block;
}

/********** CONTEUDO **********/
.conteudo{
    margin-top: var(--size-space-three);
    margin-left: var(--size-space-three);
    width: 60%;
}

.conteudo h1{
    border-bottom: 2px solid var(--border-color-primary);
    font-size: 2.3em;
    margin-bottom: var(--size-space-two);
}

.conteudo h2{
    border-bottom: 1px solid var(--border-color-primary);
    font-size: 1.8em;
    margin-bottom: var(--size-space-one);
}

.conteudo h3{
    font-size: 1.3em;
}

.data{
    display: block;
    font-size: 0.8em;
    font-style: italic;
    text-decoration: underline;
    text-align: right;
}
